.cls-1, .cls-2{
    animation: color 500ms infinite ease;
}
@keyframes color {
    0%{
        font-variation-settings: 'slnt' 0, 'YOPQ' 30, 
    }
    50%{
        font-variation-settings: 'slnt' -4, 'YOPQ' 135, 
    }
    100%{
        font-variation-settings: 'slnt' 0, 'YOPQ' 30, 

    }
}